*.DS_Store
*.UserInterfaceState.xcuserstate
AestheticCover/AestheticCover.xcodeproj/project.xcworkspace/xcuserdata/bytedance.xcuserdatad/UserInterfaceState.xcuserstate
AestheticCover/AestheticCover.xcodeproj/xcuserdata/bytedance.xcuserdatad/xcdebugger/
AestheticCover/AestheticCover.xcodeproj/xcuserdata/
.vscode/